.column{
    display:flex;
    flex-direction:column;
    text-align: center;
    height: 100%;
    background-color: #85FFBD;
    background-image: linear-gradient(0deg, #85FFBD 0%, #FFFB7D 100%);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;

}
.header{
    border-bottom: 1px solid rgb(18, 16, 80);
    margin-top:2.5px;
}
.error{
    color: red;
    font-size: 1.5em;
    margin-top: 1em;
}
.list{
    list-style: none;
    padding: 0;
}