.friends{
   
    width: 50%;
    position:fixed; 
    top: 30%;
    left: 25%;
}
.banner{
    height: 45vh;
}
.header
{
    height: 7vh;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: #de7e7e;
    border-bottom: 1px solid #e5e5e5;
}
