.Contacts{
    position: fixed;
    top: 15vh;
    left:16%;
    width: 65%;
    height: 65vh;
    background-color:rgb(249, 210, 210);
    border-radius:8px;
}
.inner{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(15, 25, 80);
    background-color: rgb(145, 186, 239);
    padding:4px;
    margin-top:-2%;
    border-radius:6% 6%;
}
.error{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}
.results{
    width: 75%;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 2em 2em 0 5.4em;
    border-radius: 13px;
    padding: 2px;
     border:2px solid rgb(29, 13, 94);
}
