.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 8.8vh;
    left: 27.8%;
    width: 45%;
    z-index: 100;
    overflow: hidden;
  }