.Message_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 10px;
    background: rgb(34,193,195);
background: linear-gradient(190deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin-bottom: 10px;
    width: 40%;
    cursor: pointer;
}
.Message_text{
    font-size: 1.2rem;
    color: #000;
}